/*************reset START**************/
*{scroll-behavior:smooth;}
html,body,div.container{
  height: 100%;
  width:100%;
  margin: 0;
  padding:0;
}
div.container{
  width:99%;
  margin: 1% 0.5% 0 0.5%;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,nav,button{
	margin:0;
	padding:0;
}
.page1,  .page2, .page3,  .page4, .page5{
  height: 100%;
  width:100%;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
	text-transform: uppercase;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}
a{
  text-decoration: none;
}
ul, ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/*************reset end**************/

/*Responsive font  begining***/
html {
  font-size: 100%; /* This means 16px */
  line-height: 1.3;
}
@media all and (min-width: 800px) {
  html {
    font-size: 112.5%; /* This means 18px */
  }
}
@media all and (min-width: 1200px) {
  html {
    font-size: 125%; /* This means 20px */
    line-height: 1.4;
  }
}
h1 {
  font-size: 3.129em;
  line-height: 1.2;
}
h2 {
  font-size: 2.3353em;
}
h3 {
  font-size: 1.769em;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.3353em;
    line-height: 1.3;
  }
  h2 {
    font-size: 1.769em;
  }
  h3 {
    font-size: 1.333em;
  }
}
/*Responsive font  ending***/

/*******block element design*****/
.box{
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #c5c5c5;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.logo{
  position: absolute;
  z-index: 2000;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}
.hovered{
  transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
}
.toggle-clp, #clicked{
	display:none;
}
#clicked:checked + .toggle-clp{
    display:block;
}
.full-fixed-bg{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width:100%;
}
.parent-cntd-cont{
  display: table;
}
.cntd-cont{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.centd-obj{
  position: absolute;
  top:50%;
  left:50%;
  -ms-transform: translate(-50% , -50%);; /* IE 9 */
  -webkit-transform: translate(-50% , -50%); /* Safari 3-8 */
  transform: translate(-50% , -50%);
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.before, .after{
  position: relative;
}
.before::before, .after::after{
  position: absolute;
  content: '';
}
.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */

nav.navbar{
  background-color: black;
  border-radius: 8px 8px 0 0px;
  padding: 0.5% 0;
}
/*--the dropdown menu drop out of the navigation--*/
ul.major{
  text-align: center;
}
 ul.minor{
   position: absolute;
   padding-top: 1%;
   padding-bottom: 10px;
   transform: scale(0);
   transition: transform 0.3s ease-in;
   z-index: 1000;
 }
 .dropdown{
   width:100%;
 }
.dropdown:hover +  ul.minor,ul.minor:hover{
   transform: scale(1);
}
 /*--the nav menu links appears horizontally--*/
 ul.major  li{
        display: inline-block;
        background-color: rgba(0,0,0,.3);
        min-width:7%;
        padding: 0.5% 0;
        margin: 3px;
}
ul.major  li:hover{
  background-color: red;
}
 /*--the nav menu links appears vertically--*/
ul.minor > li{
      display: block;
      background-color: rgba(0,0,0,.3);
      text-align: left;
      padding:8px 10px;
      margin:0;
      border-bottom: 1px solid rgba(0,0,0,.5);
  }
/*****************nav end*****************/
  /****Round image wrapped by text start***************/
.circ-img-text{
      width: 150px;
      height:150px;
      float:left;
      margin-right: 2em;
      margin-bottom: 1.5em;
      border-radius: 50%;
      shape-outside:circle();
   }
  /****Round image wrapped by text end***************/
